{% extends 'finder/base.html' %}


{% block content %}

<style>
    #canvas_plot{
        margin: auto;
        background: #ead9ce;
    }
</style>

<br>

<div class="container text-center">
    <h1>Анализ рынка</h1>
</div>

<br>

<div class="card text-center p-3 mb-2 bg-primary text-white">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Профессия</label>
                <input type="text" name="profession" class="form-control">
            </div>

            <div class="float-left">
                <select class="form-select" aria-label="Default select example" name="countData">
                    <option selected>Количество данных</option>
                    <option value="30">Малое</option>
                    <option value="100">Среднее</option>
                    <option value="200">Максимальное</option>
                </select>

                <input type="checkbox" name="convert"> Конвертация валют

            </div>


            <br>
            <br>

            <button type="submit" class="btn btn-info">Анализировать</button>
        </form>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Всего проанализированно</h5>
                <p class="card-text">{{info.salary_info.count}}</p>
                <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Зарплата</h5>
                <p class="card-text"><b>Минимальная: </b>{{info.salary_info.salary_min}}</p>
                <p class="card-text"><b>Максимальная: </b>{{info.salary_info.salary_max}}</p>
                <p class="card-text"><b>Средняя: </b>{{info.salary_info.salary_avg}}</p>
                <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card text-center">
    <canvas id="canvas_plot" width="1000" height="500">
        <script>
            const canvasPlot = document.getElementById('canvas_plot');
            const ctx = canvasPlot.getContext('2d');

            const canvasPlotWidth = canvasPlot.clientWidth;
            const canvasPlotHeight = canvasPlot.clientHeight;

            const scaleX = 20;
            const scaleY = 20;

            const xAxis = Math.round(50 / scaleX) * scaleX;
            const yAxis = Math.round(450 / scaleY) * scaleY;

            ctx.beginPath();
            ctx.strokeStyle = '#f5f0e8';
            ctx.textAlign = 'left';
            ctx.textBaseline = 'top'
            ctx.font = '10px Arial';

            for(let i = 0; i <= canvasPlotWidth; i = i + scaleX)
            {
                ctx.moveTo(i, 0);
                ctx.lineTo(i, canvasPlotHeight);

                ctx.fillText((i - xAxis) / scaleX, i, yAxis + 5)
            }
            for(let i = 0; i <= canvasPlotHeight; i = i + scaleY)
            {
                ctx.moveTo(0, i);
                ctx.lineTo(canvasPlotWidth, i);

                ctx.fillText((yAxis - i) / scaleY, xAxis + 5, i);
            }
            ctx.stroke()
            ctx.closePath();

            ctx.beginPath();
            ctx.strokeStyle = '#000000';
            ctx.moveTo(xAxis,0);
            ctx.lineTo(xAxis, canvasPlotHeight)
            ctx.moveTo(0,yAxis);
            ctx.lineTo(canvasPlotWidth, yAxis)
            ctx.stroke()
            ctx.closePath()

            ctx.fillStyle = '#ff0000';
            for(let i=0; i<= canvasPlotWidth; i++)
            {
                const x = (i - xAxis)/scaleX;
                const y = x;
                
                ctx.fillRect(x * scaleX + xAxis, yAxis -scaleY * y, 4, 4);
            }

        </script>
    </canvas>
</div>

<br><br><br><br><br>lwkve

{% endblock %}